ion-input{
    min-height: 45px !important;
    font-size: 16px !important;
    border: 1px solid var(--ion-color-medium) !important;
    border-radius: 5px !important;
}

ion-card{
    min-height: 220px !important;
    padding: 5px !important;
}

.native-input.sc-ion-input-md{
    padding: 5px !important;
}

ion-button{
    min-height: 45px !important;
}